.three-block-text {
    color: #FFF;
    font-size: 30px;
    font-family: Archangelsk;
}

.block-buy-game-1 {
    display: grid;
    background: url(../img/Untitled1.svg);
    height: 198px;
    margin-left: auto;
    margin-right: auto;
}

.block-buy-game-2 {
    background: rgb(0, 0, 0);
    
    
}

#icon-and-text-one {    
    background: url(../img/disk.svg);
}
#icon-and-text-two {    
    background: url(../img/wysiwyg.svg);
}
#icon-and-text-three {    
    background: url(../img/collections.svg);
}
#five-text-one {
    color: white;
}
#five-text-two {
    color: white;
}
#five-text-three {
    color: white;
}
#five-cyberpunk-text-1 {
    margin-top: 25px;
    margin-left: 12px;
    font-size: 20px;
}
#five-cyberpunk-text-2 {
    margin-top: 40px;
    margin-left: 12px;
    font-size: 20px;
}

.consoles-img {
    margin-top: 25px;
    margin-left: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    //gap: 10px;
}



.consoles-img-pc {
    background: url(../img/Frame13.svg);
    width: auto;
    height: 100px;
    background-repeat: no-repeat;
    
}
.consoles-img-xbox {
    //width: 200px; кастыль
    background: url(../img/xbox-one3logo.svg);
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
}
.consoles-img-stadia {
    
    background: url(../img/stadialogo.svg);
    width: auto;
    height: 100px;
    background-repeat: no-repeat;
}
.consoles-img-ps4 {
    
    background: url(../img/Group.svg);
    width: auto;
    height: 100px;
    background-repeat: no-repeat;
}


.company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}


.company-1 {
    
    background: url(../img/CyberpunkSVG.svg);
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.company-2 {
    
    background: url(../img/CD_Projekt_logo.svg);
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.info-company {
    
    text-align:center;
    padding: 25px;
    background: #E6E6E6;
    color: black;
}

.text-license {
    padding-top: 15px;
}

.end-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: black;
    color: rgb(255, 255, 255);
    font-size: 12px; 
}

@media screen and (min-width: 1024px) {
    //Блок 5

    .block-buy-game-3 {
        display: flex;
        justify-content: space-around;
        
        .company {
            display: flex;
            flex-direction: row;
        }

        .info-company {
            font-size: 18px; 
            padding: 0%;
            background: #FFF;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            .text-license {
                margin-left: 25px;
                padding-top: 0px;
                
            }
        }
    }

    .block-buy-game {
        .block-buy-game-grid-img-text {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            
            //костыль с изображением
            .block-buy-game-1 {
                margin-left: 0;
                margin-right: 0;
                width: auto;
                height: auto;
                //background-repeat: no-repeat;
                background-size: 100%;
            }

            .block-buy-game-2 {
                grid-column: 2/ 4;
                padding-left: 32px;
            }

            .three-block-text {
                text-align: inherit;
                margin-left: 0;
                margin-right: 0;
                font-size: 62px;
                width:600px;
                color: #FFF;
                

                &--small {
                    font-size: 24px;
                }
            }

            // #five-cyberpunk-text-1 {
            //     font-size: 24px;
            // }
            // #five-cyberpunk-text-2 {
            //     font-size: 24px;
            // }

            .consoles-img {
                margin-top: 25px;
                margin-left: 0px;
                display: grid;
                grid-template-columns: repeat(2, 160px);
            }

            .block-buy-game-3 {
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                .company {
                    display: flex;
                    flex-direction: inherit;
                    justify-content: inherit;
                    align-items: normal;
                }
                
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    //Блок 5
    
    .block-buy-game .block-buy-game-grid-img-text {
        //Всё должно правильно работать но не работате
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .block-buy-game-1 {
            grid-column: 1/3;
        }

        .block-buy-game-2 {
            grid-column: 3/5;
        }

    }
}