.block-description {

    background: white;
    width: 100%;
    height: 100%;
}

.block-description-text-one {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 70px;
    font-size: 30px;
    color: black;

}
.cyberpunk {
    
    color: #52BEDC;
    font-family: Roboto;
    font-size: 16px;
}

.block-description-text-two {
    margin-top: 25px;
    margin-left: 12px;
    margin-right: 12px;
    color: #777;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}



.block-description-all-img > .block-description-img-one {
    margin-top: 70px;
    background: url(../img/Rectangle62.svg);
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    width: 320px;
    height: 196px; 
    
    
    
}

.block-description-all-img > .block-description-img-two {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    background: url(../img/Rectangle63.svg);
    background-repeat: no-repeat;
    width: 320px;
    height: 196px; 
}

.block-description-all-img > .block-description-img-three {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    background: url(../img/Rectangle61.svg);
    background-repeat: no-repeat;
    width: 320px;
    height: 424px; 

}

.block-description-color-line {
    //width: 320px;
    display: grid;
    background: url(../img/background1black.svg);
    height: 70px;
    margin-left: auto;
    margin-right: auto;

}

.block-description-color-line-white {
    
    width: auto;
    height: 70px;
}


@media screen and (min-width: 1024px) {
    //Блок 2


    .block-description-text-one {
        margin-left: 70px;
        width: 620px;
        height: 126px;
        font-size: 62px;
    }
    .block-description-text-two {
        margin-left: 70px;
        width: 788px;
        height: 158px;
        font-size: 18px;
    }

    .block-description-all-img {
        
        margin-left: 36px;

        //кастыль
        margin-right: 36px;
        display: grid;
        //grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        gap: 32px;
        
        
        
        .block-description-img-one {
            
            background: url(../img/2/Rectangle622.svg);
            padding: 0;
            margin: 0;
            width: 460px;
            height: 196px;
            
        }
        .block-description-img-two {
            
            background: url(../img/2/Rectangle632.svg);
            padding: 0;
            margin: 0;
            width: 460px;
            height: 196px;
            

            
        }
        .block-description-img-three {
                background: url(../img/2/Rectangle612.svg);
                grid-column: 1/3;
                padding: 0;
                margin: 0;
                width: 952px;
                height: 424px;  
            
            
        }
    }
}

@media screen and (min-width: 1920px) {
//Блок 2

    
    .block-description-text-one {
        margin-left: 320px;
        width: 996px;
        height: auto;
    }
    .block-description-text-two {
        margin-left: 320px;
        margin-bottom: 70px;
    }

    .block-description-all-img {
        
        margin-left: 320px;
        margin-right: 320px;
        grid-template-columns: repeat(5, 1fr);

        .block-description-img-one {
            grid-column: 1/2;
        }
        .block-description-img-two {
            grid-column: 1/2;
        }
        .block-description-img-three {
            grid-row: 1/3;
            grid-column: 2/5;
        }
    }
}

@media screen and (min-width: 1920px) {
    //Блок 2

    
    .block-description-text-one {
        margin-left: 320px;
        width: 996px;
        height: auto;
    }
    .block-description-text-two {
        margin-left: 320px;
        margin-bottom: 70px;
    }

    .block-description-all-img {
        
        margin-left: 320px;
        margin-right: 320px;
        grid-template-columns: repeat(5, 1fr);

        .block-description-img-one {
            grid-column: 1/2;
        }
        .block-description-img-two {
            grid-column: 1/2;
        }
        .block-description-img-three {
            grid-row: 1/3;
            grid-column: 2/5;
        }
    }
}