.block-promotion {
    
    background-color: black;
    
}
.label-promotion {
    width: 62px;
    height: 62px;
    background: url(../img/Vector.svg);

}

.label-promotion-name {
    display: flex;
    align-items: center;
    padding-top: 25%;
    padding-left: 5%;
    transform: rotate(-45deg);
    color: #F8F200;
    font-size: 14px;
    font-style: normal;
    line-height: normal; 
}

.all-devise {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    //flex-direction: row;
}

.xbox-img-conten {
    display: flex;
    justify-content: end;
    background: url(../img/Layer5.svg);
    width: 132px;
    height: 130px; 
    padding-left: 12px;
    padding-right: 32px;
    background-repeat: no-repeat;

    .xbox-img-content-1 {
        margin-top: 6px;
        background: url(../img/Layer1.svg);
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        
    }
}

.psp-img-conten {
    display: flex;
    justify-content: end;
    background: url(../img/Layer6.svg);
    padding-right: 12px;
    width: 132px;
    height: 130px; 
    background-repeat: no-repeat;

    .psp-img-content-2 {
        margin-top: 6px;
        background: url(../img/Playstation-5.svg);
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
    }
}

.block-promotion-text {
    padding-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 30px;
    font-family: Archangelsk;
    
}

.block-promotion-text-description {
    padding-top: 25px;
    margin-left: 12px;
    margin-right: 12px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */ 
    font-family: Roboto;
}
//Строка регистрации
.user-name {
    padding-left: 12px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    line-height: normal; 
    padding-top: 70px;
    
}
.some-input-name {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: inherit;
    outline: none;
    width: 296px;
    height: 50px;
}

.user-email {
    padding-left: 12px;
    color: #FFF;
    font-size: 16px;
    font-style: normal; 
    line-height: normal; 
    padding-top: 51px;

}
.some-input-email {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: inherit;
    outline: none;
    width: 296px;
    height: 50px;
}


.attach-screenshot {
   
    display: flex;
    margin-top: 35px;
    margin-left: 12px;
    width: 296px;
    height: 120px; 
    border: 1px dashed #777; 
    align-items: center;
}

.attach-screenshot-text {
    font-size: 16px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}


.block-promotion-text-button {

    margin-left: 12px;
    display: flex;
    align-items: center;
    width: 244px;
    height: 60px;
    background-color: #F8F200;;
    margin-top: 30px;

}

.block-promotion-text-button-p {

    margin-left: auto;
    margin-right: auto;
}

.three-checkbox {
    padding-top: 14px;
    padding-left: 12px;
    display: flex;
    margin-bottom: 70px;
}

.block-promotion-text-confirmed {
    padding-left: 6px;
    font-size: 12px;
    color: white;
}

.block-promotion-end {
    
    display: grid;
    background: url(../img/threeEndBlock.svg);
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    
}

@media screen and (min-width: 1024px) {
    //Блок 3

    .label-promotion {
        width: 132px;
        height: 132px; 
        background-size: cover;

        .label-promotion-name {
            font-size: 30px;
        }
    }
    
    .block-promotion {
        .block-promotion-grid-all-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 20px;

            .label-promotion {
                grid-column: 1;
            }

            .block-promotion-text {
                grid-column: 1;
                padding-left: 12px;
                text-align: inherit;
                margin-left: 0;
                margin-right: 0;
                font-size: 62px;
            }
            .block-promotion-grid-all-content-1 {
                grid-column: 1;
            }
            .block-promotion-grid-all-content-2 {
                grid-column: 2/3;
                grid-row: 1/5;
            }

            .block-promotion-text-description {
                grid-column: 1;
                font-size: 18px;

            }



            .some-input-name {
                width: 460px;
            }

            .some-input-email {
                width: 460px;
            }

            .attach-screenshot {
                width: 460px;
                height: 120px; 
            }






            //all-devise
            .all-devise {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                width: 100%;
                height: 100%;

                .xbox-img-conten {
                    width: 460px;
                    height: 456px; 
                    background-size: cover;
                    .xbox-img-content-1 {
                        width: 296px;
                        height: 351px; 
                        background-size: cover;
                    }

                }

                .psp-img-conten {
                    width: 460px;
                    height: 456px; 
                    background-size: cover;
                    .psp-img-content-2 {
                        width: 296px;
                        height: 351px; 
                        background-size: cover;
                    }
                }
                
            }
        }

    }
}

@media screen and (min-width: 1920px) {
    //Блок 3
    //Туту поправить

    
    
    .block-promotion .block-promotion-grid-all-content {
        margin-left: 320px;
        margin-right: 320px;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 20px;

        .label-promotion {
            grid-column: 1/3;
        }

        .block-promotion-text {
            grid-column: 1/3;
        }
        .block-promotion-text-description {
            grid-column: 1/3;
        }
        .block-promotion-grid-all-content-1 {
            grid-column: 1;
        }

        .block-promotion-grid-all-content-2 {
            width: 1000px;
            grid-row: 4;

            .all-devise {
                grid-column: 1;
                display: flex;
                margin-top: 20px;

                //кастыль
                
            }
        }
        
    }
}